<div id="header" class="header">
    <div class="linear">
	    <div class="top-p">
		   <p class="fs12 t1">
		      <a>加入收藏夹</a><span><a>设为首页</a></span>
		   </p>
		</div>
	</div>
	<div class="header-logo">
	    <div class="logo"><img src="image/logo_dymb.png"></div>
	</div>
	<div class="navbor">
	  <nav id="navbor" class="fs16" >   
	   <a class="<%= status1 %>" href="/">首页</a>
	   <a class="<%= status2 %>" href="/introduce">简介</a>
	   <a class="<%= status3 %>" href="new.html" >新闻动态</a>
	   <a class="<%= status4 %>" href="research.html" >慢病研究</a>
	   <a class="<%= status5 %>" href="blank_space.html" >研究基地</a>
	   <a class="<%= status6 %>" href="doctor_more.html" >专家资源</a>
	   <a class="<%= status7 %>" href="blank_space.html" >人才培养</a>
	   <a class="<%= status8 %>" href="blank_space.html" >学术交流</a>
	   <a class="<%= status9 %>" href="blank_space.html" >企业文化</a>
	  <nav>
	</div>
</div>	